In [1]:
persion={
    "first":"Karthik",
    "last":"kkkkkkk",
    "email":"karthik@gmail.com"
}

In [2]:
people={
    "first":["shiva"],
    "last":["sssss"],
    "email":["shiva@gmail.com"]    
}

In [3]:
people={
    "first":["shiva","karthik","john"],
    "last":["sssss","kkkkk","jjjjj"],
    "email":["shiva@gmail.com","karthik@gmail.com","john@gmail.com"]    
}

In [8]:
people['email']

['shiva@gmail.com', 'karthik@gmail.com', 'john@gmail.com']

In [5]:
import pandas as pd

In [6]:
df=pd.DataFrame(people)

In [7]:
df

     first   last              email
0    shiva  sssss    shiva@gmail.com
1  karthik  kkkkk  karthik@gmail.com
2     john  jjjjj     john@gmail.com

In [9]:
df['email']

0      shiva@gmail.com
1    karthik@gmail.com
2       john@gmail.com
Name: email, dtype: object

In [10]:
type(df['email'])

pandas.core.series.Series

In [11]:
df.email

0      shiva@gmail.com
1    karthik@gmail.com
2       john@gmail.com
Name: email, dtype: object

In [12]:
df[['first','last']]

     first   last
0    shiva  sssss
1  karthik  kkkkk
2     john  jjjjj

In [13]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [14]:
df.iloc[0]

first              shiva
last               sssss
email    shiva@gmail.com
Name: 0, dtype: object

In [15]:
df.iloc[[0,1]]

     first   last              email
0    shiva  sssss    shiva@gmail.com
1  karthik  kkkkk  karthik@gmail.com

In [16]:
df.iloc[[0,1],2]

0      shiva@gmail.com
1    karthik@gmail.com
Name: email, dtype: object

In [17]:
df.iloc[[0,1],[1,2]]

    last              email
0  sssss    shiva@gmail.com
1  kkkkk  karthik@gmail.com

In [18]:
df.loc[0]

first              shiva
last               sssss
email    shiva@gmail.com
Name: 0, dtype: object

In [19]:
df.loc[[0,1]]

     first   last              email
0    shiva  sssss    shiva@gmail.com
1  karthik  kkkkk  karthik@gmail.com

In [20]:
df.loc[[0,1],'email']

0      shiva@gmail.com
1    karthik@gmail.com
Name: email, dtype: object

In [21]:
df.loc[[0,1],['first','last']]

     first   last
0    shiva  sssss
1  karthik  kkkkk