In [232]:
import pandas as pd
import time
from datetime import datetime
from pandas import ExcelWriter 
pd.__version__

'1.0.0'

In [233]:
jtlPath="D:\\Pandas\\data\\Book1.csv"

In [234]:
jtlColumns = ['timeStamp', 'elapsed','label','bytes','allThreads','success','responseCode','URL']
%time df_Jtl=pd.read_csv(jtlPath,usecols=jtlColumns,dtype={'label':'category'})#,nrows=100

Wall time: 13.9 ms

In [235]:
df_Jtl['elapsed'].median()

25.5

In [236]:
df_Jtl.median()

timeStamp       1.590000e+12
elapsed         2.550000e+01
responseCode    2.000000e+02
success         1.000000e+00
bytes           2.410000e+02
allThreads      4.000000e+00
dtype: float64

In [237]:
df_Jtl.describe()

          timeStamp     elapsed  responseCode       bytes  allThreads
count  6.000000e+01   60.000000          60.0   60.000000   60.000000
mean   1.590000e+12   73.700000         200.0  320.000000    3.366667
std    0.000000e+00  113.821195           0.0  114.094816    0.956098
min    1.590000e+12   16.000000         200.0  239.000000    1.000000
25%    1.590000e+12   19.750000         200.0  239.000000    2.000000
50%    1.590000e+12   25.500000         200.0  241.000000    4.000000
75%    1.590000e+12   47.250000         200.0  480.000000    4.000000
max    1.590000e+12  468.000000         200.0  480.000000    4.000000

In [238]:
df_Jtl['elapsed'].describe()

count     60.000000
mean      73.700000
std      113.821195
min       16.000000
25%       19.750000
50%       25.500000
75%       47.250000
max      468.000000
Name: elapsed, dtype: float64

In [239]:
df_Jtl['label'].count()

60

In [240]:
df_Jtl['label'].value_counts()

BP02_eIACSTransactionTime-1    10
BP02_eIACSTransactionTime-0    10
BP02_eIACSTransactionTime      10
BP01_BikeCounterStatus-1       10
BP01_BikeCounterStatus-0       10
BP01_BikeCounterStatus         10
Name: label, dtype: int64

In [241]:
df_Jtl['label'].value_counts()

BP02_eIACSTransactionTime-1    10
BP02_eIACSTransactionTime-0    10
BP02_eIACSTransactionTime      10
BP01_BikeCounterStatus-1       10
BP01_BikeCounterStatus-0       10
BP01_BikeCounterStatus         10
Name: label, dtype: int64

In [242]:
df_Jtl['success'].value_counts(normalize=True)

True     0.95
False    0.05
Name: success, dtype: float64

In [243]:
label_grp=df_Jtl.groupby(['label'])

In [244]:
label_grp.get_group('BP01_BikeCounterStatus')

,timeStamp,elapsed,label,responseCode,success,bytes,allThreads,URL
9,1.590000e+12,275,BP01_BikeCounterStatus,200,True,480,4,NaN
12,1.590000e+12,468,BP01_BikeCounterStatus,200,True,480,4,NaN
27,1.590000e+12,70,BP01_BikeCounterStatus,200,True,480,4,NaN
30,1.590000e+12,39,BP01_BikeCounterStatus,200,True,480,4,NaN
42,1.590000e+12,38,BP01_BikeCounterStatus,200,True,480,2,NaN
45,1.590000e+12,121,BP01_BikeCounterStatus,200,True,480,2,NaN
48,1.590000e+12,43,BP01_BikeCounterStatus,200,True,480,2,NaN
51,1.590000e+12,41,BP01_BikeCounterStatus,200,True,480,2,NaN
54,1.590000e+12,39,BP01_BikeCounterStatus,200,True,480,2,NaN
57,1.590000e+12,43,BP01_BikeCounterStatus,200,True,480,1,NaN

In [245]:
label_grp.get_group('BP02_eIACSTransactionTime')

,timeStamp,elapsed,label,responseCode,success,bytes,allThreads,URL
0,1.590000e+12,193,BP02_eIACSTransactionTime,200,False,480,4,NaN
3,1.590000e+12,465,BP02_eIACSTransactionTime,200,True,480,4,NaN
6,1.590000e+12,34,BP02_eIACSTransactionTime,200,True,480,4,NaN
15,1.590000e+12,36,BP02_eIACSTransactionTime,200,True,480,4,NaN
18,1.590000e+12,42,BP02_eIACSTransactionTime,200,True,480,4,NaN
21,1.590000e+12,101,BP02_eIACSTransactionTime,200,True,480,4,NaN
24,1.590000e+12,46,BP02_eIACSTransactionTime,200,True,480,4,NaN
33,1.590000e+12,36,BP02_eIACSTransactionTime,200,True,480,4,NaN
36,1.590000e+12,44,BP02_eIACSTransactionTime,200,True,480,4,NaN
39,1.590000e+12,37,BP02_eIACSTransactionTime,200,True,480,3,NaN

In [246]:
filt=(df_Jtl['label']=="BP01_BikeCounterStatus")
df_Jtl.loc[filt]

,timeStamp,elapsed,label,responseCode,success,bytes,allThreads,URL
9,1.590000e+12,275,BP01_BikeCounterStatus,200,True,480,4,NaN
12,1.590000e+12,468,BP01_BikeCounterStatus,200,True,480,4,NaN
27,1.590000e+12,70,BP01_BikeCounterStatus,200,True,480,4,NaN
30,1.590000e+12,39,BP01_BikeCounterStatus,200,True,480,4,NaN
42,1.590000e+12,38,BP01_BikeCounterStatus,200,True,480,2,NaN
45,1.590000e+12,121,BP01_BikeCounterStatus,200,True,480,2,NaN
48,1.590000e+12,43,BP01_BikeCounterStatus,200,True,480,2,NaN
51,1.590000e+12,41,BP01_BikeCounterStatus,200,True,480,2,NaN
54,1.590000e+12,39,BP01_BikeCounterStatus,200,True,480,2,NaN
57,1.590000e+12,43,BP01_BikeCounterStatus,200,True,480,1,NaN

In [247]:
filt1=(df_Jtl['label']=="BP01_BikeCounterStatus")
df_Jtl.loc[filt1]['success'].value_counts()

True    10
Name: success, dtype: int64

In [248]:
filt2=(df_Jtl['label']=='BP02_eIACSTransactionTime')
df_Jtl.loc[filt2]['success'].value_counts()

True     9
False    1
Name: success, dtype: int64

In [249]:
#Tipes: If we apply function on groupby object will get multiindex series
x=label_grp['success'].value_counts()
x.loc[:,]

label                        success
BP01_BikeCounterStatus       True       10
BP01_BikeCounterStatus-0     True       10
BP01_BikeCounterStatus-1     True       10
BP02_eIACSTransactionTime    True        9
                             False       1
BP02_eIACSTransactionTime-0  True        9
                             False       1
BP02_eIACSTransactionTime-1  True        9
                             False       1
Name: success, dtype: int64

In [250]:
#kevin Tips:How to create dataframe from multi index series (method 1). Note methon 2 is pivot table will study later
ser=label_grp['success'].value_counts()
df_pass_fail=ser.unstack()
df_pass_fail
#df.loc['BP01_BikeCounterStatus']
#df.loc['BP01_BikeCounterStatus',False]
#df.loc[:,False]

success                      False  True
label
BP01_BikeCounterStatus         NaN   10.0
BP01_BikeCounterStatus-0       NaN   10.0
BP01_BikeCounterStatus-1       NaN   10.0
BP02_eIACSTransactionTime      1.0    9.0
BP02_eIACSTransactionTime-0    1.0    9.0
BP02_eIACSTransactionTime-1    1.0    9.0

In [251]:
#kevin Tips: How to select values from multi index series
#Tip 1: From Outer level, Outer & Inner level, inner level
temp_ser=label_grp['success'].value_counts()
temp_ser

label                        success
BP01_BikeCounterStatus       True       10
BP01_BikeCounterStatus-0     True       10
BP01_BikeCounterStatus-1     True       10
BP02_eIACSTransactionTime    True        9
                             False       1
BP02_eIACSTransactionTime-0  True        9
                             False       1
BP02_eIACSTransactionTime-1  True        9
                             False       1
Name: success, dtype: int64

In [252]:
#kevin Tips: outer level
temp_ser.loc['BP01_BikeCounterStatus']

success
True    10
Name: success, dtype: int64

In [253]:
#kevin Tips: outer level & inner level
temp_ser.loc['BP01_BikeCounterStatus',False]#Note: If you have string pass the value in double quotes

KeyError: ('BP01_BikeCounterStatus', False)

In [254]:
temp_ser.loc[:,False]

label
BP02_eIACSTransactionTime      1
BP02_eIACSTransactionTime-0    1
BP02_eIACSTransactionTime-1    1
Name: success, dtype: int64

In [255]:
# Kevin Tipes:
kevin_df=df_Jtl
kevin_df.groupby(['label','timeStamp']).success.value_counts()

label                        timeStamp     success
BP01_BikeCounterStatus       1.590000e+12  True       10
BP01_BikeCounterStatus-0     1.590000e+12  True       10
BP01_BikeCounterStatus-1     1.590000e+12  True       10
BP02_eIACSTransactionTime    1.590000e+12  True        9
                                           False       1
BP02_eIACSTransactionTime-0  1.590000e+12  True        9
                                           False       1
BP02_eIACSTransactionTime-1  1.590000e+12  True        9
                                           False       1
Name: success, dtype: int64

In [256]:
# Tips: No need to run the filter over and over. Bcz we are using groupby method
label_grp['success'].value_counts().loc['BP01_BikeCounterStatus']

success
True    10
Name: success, dtype: int64

In [257]:
# Tips: No need to run the filter over and over. Bcz we are using groupby method
label_grp['success'].value_counts().loc['BP02_eIACSTransactionTime']

success
True     9
False    1
Name: success, dtype: int64

In [258]:
label_grp['success'].value_counts(normalize=True).loc['BP01_BikeCounterStatus']

success
True    1.0
Name: success, dtype: float64

In [259]:
label_grp['success'].value_counts(normalize=True).loc['BP02_eIACSTransactionTime']

success
True     0.9
False    0.1
Name: success, dtype: float64

In [260]:
label_grp['elapsed'].mean()

label
BP01_BikeCounterStatus         117.7
BP01_BikeCounterStatus-0        90.5
BP01_BikeCounterStatus-1        27.2
BP02_eIACSTransactionTime      103.4
BP02_eIACSTransactionTime-0     77.6
BP02_eIACSTransactionTime-1     25.8
Name: elapsed, dtype: float64

In [261]:
label_grp['elapsed'].mean().loc['BP01_BikeCounterStatus']

117.7

In [262]:
# To run multiple aggrigate function on you group

label_grp['elapsed'].agg(['min','mean','max','count'])
df_res_summary=label_grp['elapsed'].describe( percentiles = [0.90] )
df_res_summary

,count,mean,std,min,50%,90%,max
label,,,,,,,
BP01_BikeCounterStatus,10.0,117.7,143.574255,38.0,43.0,294.3,468.0
BP01_BikeCounterStatus-0,10.0,90.5,134.725441,20.0,24.0,202.1,446.0
BP01_BikeCounterStatus-1,10.0,27.2,25.611629,17.0,19.0,29.8,100.0
BP02_eIACSTransactionTime,10.0,103.4,136.500875,34.0,43.0,220.2,465.0
BP02_eIACSTransactionTime-0,10.0,77.6,134.287585,18.0,21.0,200.9,434.0
BP02_eIACSTransactionTime-1,10.0,25.8,20.719288,16.0,17.0,36.2,83.0

In [263]:
both=pd.merge(df_res_summary,df_pass_fail,left_index=True,right_index=True)
both

,count,mean,std,min,50%,90%,max,False,True
label,,,,,,,,,
BP01_BikeCounterStatus,10.0,117.7,143.574255,38.0,43.0,294.3,468.0,NaN,10.0
BP01_BikeCounterStatus-0,10.0,90.5,134.725441,20.0,24.0,202.1,446.0,NaN,10.0
BP01_BikeCounterStatus-1,10.0,27.2,25.611629,17.0,19.0,29.8,100.0,NaN,10.0
BP02_eIACSTransactionTime,10.0,103.4,136.500875,34.0,43.0,220.2,465.0,1.0,9.0
BP02_eIACSTransactionTime-0,10.0,77.6,134.287585,18.0,21.0,200.9,434.0,1.0,9.0
BP02_eIACSTransactionTime-1,10.0,25.8,20.719288,16.0,17.0,36.2,83.0,1.0,9.0

In [264]:
# To run multiple aggrigate function on you group
'min','mean','90%','max','count'
label_grp['elapsed'].agg(['min','mean','max','count']).loc['BP01_BikeCounterStatus']

min       38.0
mean     117.7
max      468.0
count     10.0
Name: BP01_BikeCounterStatus, dtype: float64

In [265]:
filt=(df_Jtl['label']=="BP01_BikeCounterStatus-1")
df_Jtl.loc[filt]['URL'].str.contains('http')

11    False
14     True
29     True
32     True
44     True
47     True
50     True
53     True
56     True
59     True
Name: URL, dtype: bool

In [266]:
filt=(df_Jtl['label']=="BP01_BikeCounterStatus-1")
df_Jtl.loc[filt]['URL'].str.contains('http').sum()

9

In [267]:
label_grp['URL'].str.contains('http').sum()

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [268]:
label_grp['URL'].apply(lambda x:x.str.contains('http').sum())

label
BP01_BikeCounterStatus          0
BP01_BikeCounterStatus-0       10
BP01_BikeCounterStatus-1        9
BP02_eIACSTransactionTime       0
BP02_eIACSTransactionTime-0    10
BP02_eIACSTransactionTime-1    10
Name: URL, dtype: int64

In [269]:
#samples=df_Jtl['label'].value_counts()
#samples
samples=df_Jtl['label'].value_counts()
#samples

In [270]:
label_grp_t=df_Jtl.groupby('label')
Txn_BP02_eIACSTransactionTime=label_grp_t.get_group('BP02_eIACSTransactionTime')
Txn_BP02_eIACSTransactionTime
label_grp_t=df_Jtl.groupby('label')
label_grp_t['success'].value_counts().loc['BP01_BikeCounterStatus'][1]

10

In [271]:
Txn_BP02_eIACSTransactionTime_Total=Txn_BP02_eIACSTransactionTime['success'].count()
Txn_BP02_eIACSTransactionTime_Total

10

In [272]:
Txn_BP02_eIACSTransactionTime_PF=Txn_BP02_eIACSTransactionTime['success'].value_counts()
Txn_BP02_eIACSTransactionTime_PF

True     9
False    1
Name: success, dtype: int64

In [273]:
print(Txn_BP02_eIACSTransactionTime_PF)

True     9
False    1
Name: success, dtype: int64