In [ ]:
import pandas as pd
import pyodbc
#https://tomaztsql.wordpress.com/2018/07/15/using-py thon-pandas-dataframe-to-read-and-insert-data-to-microsoft-sql-server/
sql_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=xxx.xxx.xxx.xx;DATABASE=xxx;UID=xxxx;PWD=xxxxx')
query = """
SELECT TOP (100) [xxxxx]
      ,[xxxxxx]
      ,[xxxxxx]
      ,[xxxxxx]
      ,[xxxxxx]
      ,[xxxxx]
      ,[xxxxx]
      ,[xxxxxx]
      ,[xxxxxx]
      ,[xxxxx]
  FROM [xxxxx].[dbo].[xxxxxx]
"""
df = pd.read_sql(query, sql_conn)

df.tail(100)